/*Font*/
body {
  font-family: "Orbitron", sans-serif;
  background-color: #999;
}

section {
  width: 880px;
  margin: 0 auto;
}

.header {
  font-size: 6em;
  text-align: center;
  color: white;
  margin-top: 3%;
}
.header1 {
  font-size: 6em;
  text-align: center;
  color: white;
  margin-top: 6%;
}
.new-game {
  font-size: 3em;
  text-align: center;
  color: white;
  margin-top: 4%;
}
.easy {
  transform: perspective(220px) rotateY(-15deg);
  margin-left: 33%;
}

.hard {
  transform: perspective(220px) rotateY(15deg);
  margin-left: 30%;
}
a {
  text-decoration: none;
  color: white;
}
.hover {
  text-align: center;
  color: white;
  font-size: 1.75em;
  margin-top: 3.25em;
  border: 1px solid white;
  width: 30%;
  padding-top: .7em;
  padding-bottom: .5em;
}
.hover:hover {
  background-color: steelblue;
}
.list {
  margin-left: 5%;
  display: inline-block;
  margin-bottom: 50px;
}
ul li {
  display: inline-block;
}
.timer {
  float: right;
  margin-right: 5%;
  font-weight: bold;
}
input {
  width: 8em;
  height: 8em;
  display:none;
}
.card {
  width: 8em;
  height: 8em;
  background: #666;
  display: inline-block;
  transition: background 1s, -webkit-transform 1s;
  border-radius: .5em;
  border: 1px solid black;
}
.card:hover {
  box-shadow: 2px 2px black;
}
input:checked +.card {
  background: #555;
  -webkit-transform: rotateY(360deg);
}
input:checked +.card .house{
  opacity: 1;
  transition-delay: .5s;
}

input:checked +.card .fort{
  opacity: 1;
  transition-delay: .5s;
}

input:checked +.card .archive{
  opacity: 1;
  transition-delay: .5s;
}

input:checked +.card .building{
  opacity: 1;
  transition-delay: .5s;
}

input:checked +.card .scale{
  opacity: 1;
  transition-delay: .5s;
}

input:checked +.card .bicycle{
  opacity: 1;
  transition-delay: .5s;
}

input:checked +.card .car{
  opacity: 1;
  transition-delay: .5s;
}

input:checked +.card .camera{
  opacity: 1;
  transition-delay: .5s;
}

input:checked +.card .crosshairs{
  opacity: 1;
  transition-delay: .5s;
}

.card-list {
  margin-left: 5%;
}
.house {
  position: absolute;
  margin-top: 33px;
  margin-left: 35px;
  opacity: 0;
}
.fort {
  position: absolute;
  margin-top: 41px;
  margin-left: 42px;
  opacity: 0;
}
.archive {
  position: absolute;
  margin-top: 40px;
  margin-left: 40px;
  opacity: 0;
}
.building {
  position: absolute;
  margin-top: 40px;
  margin-left: 48px;
  opacity: 0;
}
.bicycle {
  position: absolute;
  margin-top: 33px;
  margin-left: 28px;
  opacity: 0;
}
.car {
  position: absolute;
  margin-top: 40px;
  margin-left: 38px;
  opacity: 0;
}
.camera {
  position: absolute;
  margin-top: 40px;
  margin-left: 38px;
  opacity: 0;
}
.crosshairs {
  position: absolute;
  margin-top: 33px;
  margin-left: 36px;
  opacity: 0;
}
.scale {
  position: absolute;
  margin-top: 30px;
  margin-left: 28px;
  opacity: 0;
}
.return {
  display: inline-block;
  margin-top: 2em;
  margin-left: 3em;
  border: 2px solid black;
  padding: 6px 4px 3px 4px;
  background-color: #888;
}
.return a {
  color: black;
  font-weight: bold;
}
audio {
  opacity: 0;
}
