/*Font*/
body {
  font-family: "Orbitron", sans-serif;
  background-color: #999;
}

/*Define sizing*/

section {
  width: 880px;
  margin: 0 auto;
}

/*Header Format*/

.header {
  font-size: 6em;
  text-align: center;
  color: white;
  margin-top: 2%;
  margin-bottom: 3%;
}

.header1 {
  font-size: 6em;
  text-align: center;
  color: white;
  margin-top: 6%;
}

.new-game {
  font-size: 3em;
  text-align: center;
  color: white;
  margin-top: 4%;
}

/*Rotate Borders*/

.easy {
  transform: perspective(220px) rotateY(-15deg);
  margin-left: 33%;
  display: inline-block;
}

.hard {
  transform: perspective(220px) rotateY(15deg);
  margin-left: 30%;
  display: inline-block;
}

/*Links and Hovers*/

a {
  text-decoration: none;
  color: white;
}

.hover {
  text-align: center;
  color: white;
  font-size: 1.75em;
  margin-top: 3.25em;
  border: 1px solid white;
  width: 30%;
  padding-top: .7em;
  padding-bottom: .5em;
}

.hover2:hover {
  background-color: steelblue;
}

.hover:hover {
  background-color: steelblue;
  box-shadow: 0px 0px 20px steelblue;
}

/*Heart Counter and Timer*/

.list {
  margin-left: 5%;
  display: inline-block;
  margin-bottom: 50px;
}

ul li {
  display: inline-block;
}

#time{
  float: right;
  margin-right: 5%;
  font-weight: bold;
}

/*Cards and Card Manipulation*/

input {
  width: 8em;
  height: 8em;
  display:none;
}

.card {
  width: 8em;
  height: 8em;
  background: #666;
  display: inline-block;
  transition: background 1s, -webkit-transform 1s;
  border-radius: .5em;
  border: 1px solid black;
}

.card:hover {
  box-shadow: 0px 0px 10px black;
  border: 1px solid rgb(200,200,200);
}

.clicked {
  background: #555;
  -webkit-transform: rotateY(360deg);
}
.clicked2 {
  background:#555;
  -webkit-transform: rotateY(360deg);
  pointer-events: none;
}

.clicked .house{
  opacity: 1;
  transition-delay: .5s;
}

.clicked2 .house{
  opacity: 1;
}

.clicked .fort{
  opacity: 1;
  transition-delay: .5s;
}

.clicked2 .fort{
  opacity: 1;
}

.clicked .archive{
  opacity: 1;
  transition-delay: .5s;
}

.clicked2 .archive{
  opacity: 1;
}

.clicked .building{
  opacity: 1;
  transition-delay: .5s;
}

.clicked2 .building{
  opacity: 1;
}

.clicked .scale{
  opacity: 1;
  transition-delay: .5s;
}

.clicked2 .scale{
  opacity: 1;
}

.clicked .bicycle{
  opacity: 1;
  transition-delay: .5s;
}

.clicked2 .bicycle{
  opacity: 1;
}

.clicked .car{
  opacity: 1;
  transition-delay: .5s;
}

.clicked2 .car{
  opacity: 1;
}

.clicked .camera{
  opacity: 1;
  transition-delay: .5s;
}

.clicked2 .camera{
  opacity: 1;
}

.clicked .crosshairs{
  opacity: 1;
  transition-delay: .5s;
}

.clicked2 .crosshairs{
  opacity: 1;
}

.card-list {
  margin-left: 5%;
}

/*Card Images*/

.house {
  position: absolute;
  margin-top: 33px;
  margin-left: 35px;
  color: rgb(225,225,225);
  opacity: 0;
}

.fort {
  position: absolute;
  margin-top: 41px;
  margin-left: 42px;
  color: rgb(225,225,225);
  opacity: 0;
}

.archive {
  position: absolute;
  margin-top: 40px;
  margin-left: 40px;
  color: rgb(225,225,225);
  opacity: 0;
}

.building {
  position: absolute;
  margin-top: 40px;
  margin-left: 48px;
  color: rgb(225,225,225);
  opacity: 0;
}

.bicycle {
  position: absolute;
  margin-top: 33px;
  margin-left: 28px;
  color: rgb(225,225,225);
  opacity: 0;
}

.car {
  position: absolute;
  margin-top: 40px;
  margin-left: 38px;
  color: rgb(225,225,225);
  opacity: 0;
}

.camera {
  position: absolute;
  margin-top: 40px;
  margin-left: 38px;
  color: rgb(225,225,225);
  opacity: 0;
}

.crosshairs {
  position: absolute;
  margin-top: 33px;
  margin-left: 36px;
  color: rgb(225,225,225);
  opacity: 0;
}

.scale {
  position: absolute;
  margin-top: 30px;
  margin-left: 28px;
  color: rgb(225,225,225);
  opacity: 0;
}
/*Return button and formatting*/

.return {
  display: inline-block;
  margin-top: 2em;
  margin-left: 3em;
  border: 2px solid black;
  padding: 6px 4px 3px 4px;
  background-color: #888;
}

.return a {
  color: black;
  font-weight: bold;
}

.return:hover {
  box-shadow: 0px 0px 20px steelblue;
}

audio{
  position: absolute;
  margin-left:2%;
}

/*Modal Stuff*/

.modal.showing {
  display: block;
}

.modal2.showing {
  display: block;
}

.modal {
  text-align: center;
  position: fixed;
  top: 0em;
  left: 0em;
  bottom: 0em;
  right: 0em;
  background: red;
  background-image: linear-gradient(to bottom left, red, yellow, orange, yellow, red);
  color: white;
  border: 1px solid #AAA;
  padding: 2em;
  display:none;
}

.modal2 {
  text-align: center;
  position: fixed;
  top: 0em;
  left: 0em;
  bottom: 0em;
  right: 0em;
  background: red;
  background-image: linear-gradient(to bottom left,teal, blue, teal, blue);
  color: white;
  border: 1px solid #AAA;
  padding: 2em;
  display:none;
}

.modal h1{
  margin-top: 30%;
  font-size: 35px;
}

.modal2 h1{
  margin-top: 30%;
  font-size: 35px;
}
